{% extends "layout.html" %}
{% block body %}
<form class="form-horizontal" method="POST" action="/login">
  <fieldset>
    <legend>Log In</legend>
    <div class="form-group">
        {{ form.hidden_tag() }}
      <label for="inputEmail" class="col-lg-2 control-label"> {{ form.name.label }}</label>
      <div class="col-lg-10">
         {{ form.name(size=20) }}
      {% if form.name.errors %}
    {% for error in form.name.errors %}
      {{ error }}
    {% endfor %}
  {% endif %}
     </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">    {{ form.password.label }}</label>
       <div class="col-lg-10">
         {{ form.password(size=20) }}
      {% if form.password.errors %}
    {% for error in form.password.errors %}
      {{ error }}
    {% endfor %}
  {% endif %}
     </div>
      
    </div>
    
   


    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Clear</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
{% endblock %}



