{% extends "layout.html" %}
{% block body %}
<!-- Display Username -->
<h3>{{user.username}}</h3>
<br>
<h4>Posts</h4>

<!-- Show all the users posts -->
{% for post in user.posts %}
<blockquote>
  <a href="/posts/{{post.id}}">
    <b>{{post.title}}</b>
  </a>
  <p>{{post.content}}</p>
  <small>{{post.user.username}} {{post.format_time()}}
    {% if user == post.user: %}
    <form action="delete_post" method="post">
      <input type="hidden" name="post" value="{{post.id}}">
      <input type="submit" value="Delete" />
    </form>

    {% endif %}
  </small>
</blockquote>
{% endfor %}
<br>

<!-- Show all the users comments -->
<h4>Comments</h4>
{% for comment in user.comments %}
<blockquote>
  <a href="/posts/{{comment.post.id}}">
    <b>{{comment.content}}</b>
  </a>
  <small>{{comment.user.username}}
    {% if user == comment.user: %}
    <form action="delete_comment" method="post">
      <input type="hidden" name="comment" value="{{comment.id}}">
      <input type="submit" value="Delete" >
    </form>
    {% endif %}
  </small>
</blockquote>
{% endfor %}


{% endblock %}